<!DOCTYPE html>
<html>
    <head>
        <title>Peanuts.com Hierarchy</title>
    </head>

    <body>
        <h1>Peanuts.com Hierarchy</h1>
        <ul>
        {{range .Hierarchy}}
            <li><a href="{{.Page.Link}}">{{.Page.Title}}</a></li>
            {{if .Page.Children}}
                <ul> 
                {{range .Page.Children}}
                    <li><a href="{{.Page.Link}}">{{.Page.Title}}</a></li>
                {{end}}
                </ul>
            {{end}}
        {{end}}
        </ul>
    </body>
</html>
